<template>
    <div>
        <form class="search" v-on:submit.prevent="search">
            <select class="input_style" v-model="state">
                <option value="-1">请选择举报处理状态</option>
                <option value="1">待处理</option>
                <option value="2">已恢复</option>
                <option value="3">已屏蔽</option>
            </select>
            <input type="submit" value="搜索" class="input_style btn_submit" />
        </form>
        <div class="results">
            <h1 class="table_title">举报页面如下：</h1>
            <template v-if="list.length!==0">
                <table>
                    <thead>
                        <tr>
                            <th class="width_5">序号</th>
                            <th>举报时间</th>
                            <th>处理状态</th>
                            <th>发帖人ID</th>
                            <th>帖子ID</th>
                            <th class="width_15">联系方式</th>
                            <th class="width_30">举报理由</th>
                            <th class="width_15">举报图片</th>
                            <th class="width_15">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <template v-for="(item,index) in list">
                            <tr v-bind:key="index">
                                <td>{{(page_num-1)*page_size+(index+1)}}</td>
                                <td>{{item.CreateDateTime.substr(0,10)}}</td>
                                <td>{{states[item.Flag-1]}}</td>
                                <td>{{item.CreateUserID}}</td>
                                <td>{{item.InformationID}}</td>
                                <td>{{item.Phone}}</td>
                                <td>{{item.Content}}</td>
                                <td v-bind:data-index="index" v-on:click="seeOriginImages">
                                    <img v-bind:src="'http://img.animal.dobit.top/'+img + '-w640'" v-bind:data-imgIndex="imgIndex" v-for="(img,imgIndex) in item.ImageUrls" v-bind:key="imgIndex">
                                </td>
                                <td v-on:click="operation">
                                    <button class="btn bg_green" v-bind:data-id="item.ID" v-bind:data-index="index">查看文章</button>
                                    <button class="btn bg_blue" v-bind:data-id="item.ID" v-bind:data-index="index" v-bind:data-operation="2" v-if="item.Flag===3">恢复</button>
                                    <button class="btn bg_yellow" v-bind:data-id="item.ID" v-bind:data-index="index" v-bind:data-operation="3" v-if="item.Flag!==3">屏蔽</button>                                 
                                </td>
                            </tr>
                        </template>
                    </tbody>
                </table>
                <div class="pages">
                    <ul v-on:click="changePage">
                        <li v-bind:class="{disabled:page_num===1}" v-on:click.stop="prevPage">
                            <i class="iconfont icon-shangyiye"></i>
                        </li>
                        <li v-bind:class="{active: n===page_num}" v-bind:data-id="n" v-for="n in page_total" v-bind:key="n">{{n}}</li>
                        <li v-bind:class="{disabled:page_num===page_total}" v-on:click.stop="nextPage">
                            <i class="iconfont icon-xiayiye"></i>
                        </li>
                    </ul>
                </div>
            </template>
            <!--信息为空时-->
            <div class="no_content" v-else>{{loading?'加载中...':'相关发布信息为空哦！'}}</div>
        </div>
        <!--确认对话框-->
        <xm-dialog v-bind:dialog="dialog"></xm-dialog>
        <!--查看图片大图-->
        <div class="big_images" v-if="len" v-on:click="hideImage">
            <div class="show_img">
                <img v-bind:src="'http://img.animal.dobit.top/'+currBigImg + '-w640'" v-on:click.stop/>
                <div class="arr arr_right" v-on:click.stop="prevImg" v-bind:class="{hide:currImgIndex === 0}"></div>
                <div class="arr arr_left"  v-on:click.stop="nextImg" v-bind:class="{hide:currImgIndex === (len - 1)}"></div>
            </div>
        </div>
        <!--查看发布信息详情 -->
        <xm-detail v-bind:detail="detail" v-bind:show="showDetail" v-bind:cancel="cancelDetail"></xm-detail>
    </div>
</template>
<style lang="scss" scoped>
.search {
  padding: 15px;
  background-color: #fff;
  border-radius: 4px;
  margin-bottom: 20px;
  text-align: right;
  .input_style {
    height: 36px;
    box-sizing: border-box;
    padding: 8px 10px;
    font-size: 14px;
    line-height: 1.42857143;
    background-color: #fff;
    border-radius: 4px;
    color: #777;
    border: 1px solid #e2e2e4;
    outline: none;
    vertical-align: middle;
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
  .btn_submit:hover {
    background: #eee;
  }
}

.results {
  background-color: #fff;
  border-radius: 4px;
  overflow: hidden;
  .table_title {
    font-size: 16px;
    font-weight: 300;
    padding: 10px 15px;
    border-bottom: 1px solid #eff2f7;
  }
  table {
      width: 100%;
      table-layout: fixed;
      th,
      td {
        padding: 10px;
        line-height: 1.42857143;
      }
      thead {
        tr{
          font-weight: bold;
          border-bottom: 2px solid #ddd;
        }
        th{
          box-sizing: border-box;
          width: 10%;
          &.width_5{
              width: 5%;
          }
          &.width_15{
              width: 15%;
          }
          &.width_30{
            width: 30%;
          }
        }
      }
      tbody {
        tr{
          border-bottom: 1px solid #ddd;
        }
        tr:nth-of-type(odd),tr:hover{
          background-color: #f9f9f9
        }
        img {
          width: 50px;
          margin: 0 5px 5px 0;
        }
        .btn{
          padding: 3px 6px;
          margin-bottom: 5px;
          font-size: 12px;
          color: #fff;
          line-height: 1.5;
          border-radius: 3px;
          border: none;
          outline: none;
          cursor: pointer;
          &.bg_green{
            background-color: #78CD51;
          }
          &.bg_blue{
            background-color: #41cac0;
          }
          &.bg_red{
            background-color: #ff6c60;
          }
          &.bg_yellow{
            background-color: #FCB322;
          }
          &[disabled]{
            cursor: not-allowed;
            opacity: 0.65;
            background-color: #dddddd;
          }
        }
      }
    }
  .pages {
    padding: 15px 15px 30px;
    text-align: right;
    li {
      display: inline-block;
      padding: 5px 10px;
      color: #797979;
      border: 1px solid #ddd;
      border-radius: 3px;
      cursor: pointer;
      margin: 0 1px;
      &.active {
        background: #eee;
      }
      &.disabled {
        color: #c7c7c7;
      }
      &:not(.disabled):hover {
        background: #eee;
      }
    }
  }
}

.no_content {
  padding: 30px 0;
  text-align: center;
}
.big_images{
    z-index: 11;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: hsla(0, 0, 0, 0.7);
    @keyframes showImage{
      from{
        transform: translate(-50%,-100%);
      }
      to{
        transform: translate(-50%,-50%);
      }
    }
    .show_img{
        z-index: 12;
        position: fixed;
        top: 50%;
        left: 50%;
        max-width: 70%;
        height: 600px;
        padding: 0 30px;
        overflow: hidden;
        animation: showImage 0.5s;
        animation-fill-mode:forwards;
        img{
            max-height: 100%;
            max-width: 100%
        }
        .arr{
            position:absolute;
            top: 50%;
            width: 18px;
            height: 18px;
            border:3px solid hsla(255, 255, 255, 0.8);
            border-radius: 3px;
            cursor: pointer;
            &.hide{
              display: none;
            }
        }
        .arr_left{
            border-left: none;
            border-bottom: none;
            right: 18px;
            transform:rotate(45deg) translateY(-50%); 
        }
        .arr_right{
            border-right: none;
            border-bottom: none;
            left: 18px;
            transform:rotate(-45deg) translateY(-50%);
        }
    }
}
</style>
<script>
import Dialog from '@/components/Dialog.vue'
import Detail from '@/components/Detail.vue'
export default {
  data () {
    return {
      states: ['待处理', '已恢复', '已屏蔽'],
      state: -1, // -1:全部，1:待处理，2:恢复，3:屏蔽，
      list: [],
      page_num: 1,
      page_total: 1,
      page_size: 10,
      loading: true,
      sessionID: sessionStorage.getItem('REQUEST_HEADER_SESSION_ID'),
      dialog: { // dialog配置
        title: '处理用户举报',
        content: '请确认是否操作？',
        show: false,
        confirm: this.confirm,
        cancel: this.cancelDialog
      },
      operations: {},
      currImages: [],
      len: 0,
      currBigImg: '',
      currImgIndex: -1,
      detail: {},
      showDetail: false
    }
  },
  components: {
    'xm-dialog': Dialog,
    'xm-detail': Detail
  },
  created () {
    this.getInfo()
  },
  methods: {
    search () {
      this.page_num = 1
      this.getInfo()
    },
    changePage (event) {
      let currPage = event.target.dataset['id'] ? parseInt(event.target.dataset['id']) : ''
      if (currPage) {
        this.page_num = currPage
        this.getInfo()
      }
    },
    prevPage () {
      if (this.page_num === 1) return
      let currPage = this.page_num - 1
      this.page_num = currPage
      this.getInfo()
    },
    nextPage () {
      if (this.page_num === this.page_total) return
      let currPage = this.page_num + 1
      this.page_num = currPage
      this.getInfo()
    },
    getInfo () {
      let that = this
      let pageSize = that.page_size
      let params = {
        Flag: this.state,
        Page: this.page_num,
        Size: pageSize
      }
      that.loading = true
      this.$http.get('https://wxapi.dobit.top/api/Report/Server', { params: params, headers: { SessionID: that.sessionID } }).then((response) => {
        let status = response.status
        if (status === 200) {
          const {State, Message, Rows, Total} = response.body
          if (State === 1) {
            let len = Rows.length
            that.loading = false
            that.list = Rows
            if (len === 0) return
            that.page_total = Math.ceil(Total / pageSize)
          } else {
            alert(Message)
          }
        } else {
          alert('请求失败')
        }
      }, (response) => {
        // 响应错误回调
        let status = response.status
        if (status === 401) {
          this.$router.push('/login')
        } else {
          alert('请求失败')
        }
      })
    },
    seeOriginImages (event) {
      const target = event.target
      if (target.tagName.toLowerCase() === 'img') {
        const index = parseInt(event.currentTarget.dataset['index'])
        const currImages = this.list[index].ImageUrls
        if (currImages.length === 0) return
        const imgIndex = parseInt(target.dataset['imgindex'])
        this.currBigImg = currImages[imgIndex]
        this.currImgIndex = imgIndex
        this.currImages = currImages
        this.len = currImages.length
      }
    },
    nextImg () {
      this.currBigImg = this.currImages[++this.currImgIndex]
    },
    prevImg () {
      this.currBigImg = this.currImages[--this.currImgIndex]
    },
    hideImage () {
      // 关闭大图
      this.currImages = []
      this.len = 0
      this.currBigImg = ''
      this.currImgIndex = -1
    },
    operation (event) {
      const target = event.target
      if (target.tagName.toLowerCase() === 'td') return
      const ID = parseInt(target.dataset['id'])
      const Flag = parseInt(target.dataset['operation'])
      const index = parseInt(target.dataset['index'])
      this.operations.ID = ID
      this.operations.Flag = Flag
      this.operations.index = index
      if (!Flag) {
        const articleID = this.list[index].InformationID
        // 查看信息详情
        this.$http.get(`https://wxapi.dobit.top/Api/Info/${articleID}`, { headers: { SessionID: this.sessionID } }).then((response) => {
          // 响应成功回调
          let status = response.status
          if (status === 200) {
            this.detail = response.body
            this.showDetail = true
          } else {
            alert('请求失败')
          }
        }, (response) => {
          // 响应错误回调
          let status = response.status
          // session ID失效
          if (status === 401) {
            this.$router.push('/login')
          } else {
            alert('请求失败')
          }
        })
      } else {
        // 屏蔽或恢复
        this.dialog.show = true
      }
    },
    confirm () {
      // 屏蔽或恢复操作
      this.dialog.show = false
      const that = this
      const {ID, Flag, index} = that.operations
      let params = {
        Flag: Flag
      }
      this.$http.put(`https://wxapi.dobit.top/Api/Report/${ID}`, params, { headers: { SessionID: that.sessionID } }).then((response) => {
        // 响应成功回调
        let status = response.status
        if (status === 200) {
          const {State, Message} = response.body
          if (State === 1) {
            // 修改状态成功处理
            that.list[index].Flag = Flag
            // 调用api/info接口屏蔽或恢复文章
            const articleID = this.list[index].InformationID
            const state = Flag === 2 ? 2 : 4
            that.updateArticleState(articleID, state)
          } else {
            alert(Message)
          }
        } else {
          alert('请求失败')
        }
      }, (response) => {
        // 响应错误回调
        let status = response.status
        if (status === 401) {
          this.$router.push('/login')
        } else {
          alert(response.body.Message)
        }
      })
    },
    updateArticleState (ID, Flag) {
      this.$http.put(`https://wxapi.dobit.top/Api/Status/${ID}`, {Flag: Flag}, { headers: { SessionID: this.sessionID } }).then((response) => {
        // 响应成功回调
        let status = response.status
        if (status === 200) {
          let {State, Message, Result} = response.body
          if (State === 1 && Result) {
            alert('处理成功，请去审核管理查看文章状态！')
          } else {
            alert(Message)
          }
        } else {
          alert('处理失败')
        }
      }, (response) => {
        // 响应错误回调
        let status = response.status
        if (status === 401) {
          this.$router.push('/login')
        } else {
          alert('请求失败')
        }
      })
    },
    cancelDialog () {
      // 对话框取消按钮
      this.dialog.show = false
    },
    cancelDetail () {
      this.showDetail = false
    }
  }
}
</script>
