<template>
    <div>
        <form class="search" v-on:submit.prevent="search">
            <select class="input_style" v-model="state">
                <option value="-1">请选择反馈问题状态</option>
                <option value="1">待处理</option>
                <option value="2">已回复</option>
                <option value="3">已拒绝</option>
            </select>
            <select class="input_style" v-model="type">
                <option value="-1">请选择反馈问题类型</option>
                <option value="1">操作问题</option>
                <option value="2">功能异常</option>
                <option value="3">体验问题</option>
                <option value="4">新功能建议</option>
                <option value="5">其他问题</option>
            </select>
            <input type="submit" value="搜索" class="input_style btn_submit" />
        </form>
        <div class="results">
            <h1 class="table_title">问题反馈如下：</h1>
            <template v-if="list.length!==0">
                <table>
                    <thead>
                        <tr>
                            <th class="width_5">序号</th>
                            <th>反馈时间</th>
                            <th>状态</th>
                            <th class="width_15">联系电话</th>
                            <th>问题类型</th>
                            <th class="width_25">反馈内容</th>
                            <th class="width_15">反馈图片</th>
                            <th class="width_25">回复内容</th>
                            <th class="width_15">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <template v-for="(item,index) in list">
                            <tr v-bind:key="index">
                                <td>{{(page_num-1)*page_size+(index+1)}}</td>
                                <td>{{item.CreateDateTime.substr(0, 10)}}</td>
                                <td>{{states[item.Flag-1]}}</td>    
                                <td>{{item.Phone}}</td>
                                <td>{{types[item.Type-1]}}</td>
                                <td class="detail">
                                  {{item.Content&&item.Content.substr(0,78)}}
                                  <div class="content_detail" v-if="item.Content">{{item.Content}}</div>
                                </td>
                                <td v-bind:data-index="index" v-on:click="seeOriginImages">
                                    <img v-bind:src="'http://img.animal.dobit.top/'+img + '-w640'" v-bind:data-imgIndex="imgIndex" v-for="(img,imgIndex) in item.ImageUrls" v-bind:key="imgIndex">
                                </td>
                                <td class="detail">
                                  {{item.Answer&&item.Answer.substr(0,78)}}
                                  <div class="content_detail" v-if="item.Answer">{{item.Answer}}</div>
                                </td>
                                <td v-on:click="operation">
                                    <!-- <button class="btn bg_green" v-bind:data-id="item.ID">查看</button> -->
                                    <button class="btn bg_blue" v-bind:data-id="item.ID" data-operation="2" v-bind:data-index="index">{{item.Answer?'修改回复':'回复'}}</button>
                                    <button class="btn bg_yellow" v-bind:data-id="item.ID" data-operation="3" v-bind:data-index="index" v-bind:disabled="item.Flag===3">拒绝</button>
                                </td>
                            </tr>
                        </template>
                    </tbody>
                </table>
                <div class="pages">
                    <ul v-on:click="changePage">
                        <li v-bind:class="{disabled:page_num===1}" v-on:click.stop="prevPage"><i class="iconfont icon-shangyiye"></i></li>
                        <li v-bind:class="{active: n===page_num}" v-bind:data-id="n" v-for="n in page_total" v-bind:key="n">{{n}}</li>
                        <li v-bind:class="{disabled:page_num===page_total}" v-on:click.stop="nextPage"><i class="iconfont icon-xiayiye"></i></li>
                    </ul>
                </div>
            </template>
            <!--信息为空时-->
            <div class="no_content" v-else>{{loading?'加载中...':'相关发布信息为空哦！'}}</div>
        </div>
        <!--确认对话框-->
        <xm-dialog v-bind:dialog="dialog"></xm-dialog>
        <!--回复对话框-->
        <div class="reply" v-bind:class="{show:showReply}">
            <h1 class="reply_title">问题反馈回复</h1>
            <textarea class="reply_content" placeholder="请输入问题反馈回复，最多500个字哦" v-model="reply"></textarea>
            <div class="btns">
                <button type="button" class="btn btn_cancel" v-on:click.stop="hideReply">取消</button>
                <button type="button" class="btn btn_ok" v-on:click.stop="saveReply">保存</button>
            </div>
        </div>
        <!--查看图片大图-->
        <div class="big_images" v-if="len" v-on:click="hideImage">
            <div class="show_img">
                <img v-bind:src="'http://img.animal.dobit.top/'+currBigImg + '-w640'" v-on:click.stop/>
                <div class="arr arr_right" v-on:click.stop="prevImg" v-bind:class="{hide:currImgIndex === 0}"></div>
                <div class="arr arr_left"  v-on:click.stop="nextImg" v-bind:class="{hide:currImgIndex === (len - 1)}"></div>
            </div>
        </div>
    </div>
</template>
<style lang="scss" scoped>
.search {
  padding: 15px;
  background-color: #fff;
  border-radius: 4px;
  margin-bottom: 20px;
  text-align: right;
  .input_style {
    height: 36px;
    box-sizing: border-box;
    padding: 8px 10px;
    font-size: 14px;
    line-height: 1.42857143;
    background-color: #fff;
    border-radius: 4px;
    color: #777;
    border: 1px solid #e2e2e4;
    outline: none;
    vertical-align: middle;
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
  .btn_submit:hover {
    background: #eee;
  }
}

.results {
  background-color: #fff;
  border-radius: 4px;
  overflow: hidden;
  .table_title {
    font-size: 16px;
    font-weight: 300;
    padding: 10px 15px;
    border-bottom: 1px solid #eff2f7;
  }
  table {
      width: 100%;
      table-layout: fixed;
      th,
      td {
        padding: 10px;
        line-height: 1.42857143;
      }
      thead {
        tr{
          font-weight: bold;
          border-bottom: 2px solid #ddd;
        }
        th{
          box-sizing: border-box;
          width: 10%;
          &.width_5{
              width: 5%;
          }
          &.width_15{
              width: 15%;
          }
          &.width_25{
            width: 25%;
          }
        }
      }
      tbody {
        tr{
          border-bottom: 1px solid #ddd;
        }
        tr:nth-of-type(odd),tr:hover{
          background-color: #f9f9f9
        }
        .detail{
           position: relative;
           cursor: pointer;
           &:hover .content_detail{
             opacity: 1;
             pointer-events: auto;
           }
        }
        .content_detail{
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%,-50%);
          width:300px;
          padding: 10px;
          color: #ffffff;
          background-color:#333;
          border-radius: 4px;
          transition: opacity 0.5s;
          opacity: 0;
          pointer-events: none;
        }
        img {
          width: 50px;
          margin: 0 5px 5px 0;
        }
        .btn{
          padding: 3px 6px;
          margin-bottom: 5px;
          font-size: 12px;
          color: #fff;
          line-height: 1.5;
          border-radius: 3px;
          border: none;
          outline: none;
          cursor: pointer;
          &.bg_green{
            background-color: #78CD51;
          }
          &.bg_blue{
            background-color: #41cac0;
          }
          &.bg_red{
            background-color: #ff6c60;
          }
          &.bg_yellow{
            background-color: #FCB322;
          }
          &[disabled]{
            cursor: not-allowed;
            opacity: 0.65;
            background-color: #dddddd;
          }
        }
      }
    }
  .pages {
    padding: 15px 15px 30px;
    text-align: right;
    li {
      display: inline-block;
      padding: 5px 10px;
      color: #797979;
      border: 1px solid #ddd;
      border-radius: 3px;
      cursor: pointer;
      margin: 0 1px;
      &.active {
        background: #eee;
      }
      &.disabled {
        color: #c7c7c7;
      }
      &:not(.disabled):hover {
        background: #eee;
      }
    }
  }
}

.no_content {
  padding: 30px 0;
  text-align: center;
}
.reply{
    opacity: 0;
    pointer-events: none;
    z-index: 11;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    width: 400px;
    padding:20px 40px;
    text-align: center;
    color: #89817e;
    background: #fff;
    box-shadow: 0 0 20px 0 #a5a2a2;
    border-radius: 4px;
    transition: opacity 0.5s;
    &.show{
      opacity: 1;
      pointer-events: auto;
    }
    .reply_title{
        font-size:16px;
    }
    .reply_content{
        box-sizing: border-box;
        width: 100%;
        height: 160px;
        padding: 10px;
        margin-top: 10px;
        color:inherit;
        resize: none;
        border:1px solid #d7d7d7;
        border-radius: 4px;
        outline: none;
    }
    .btns{
        text-align: right;
        margin-top: 10px;
        .btn{
            padding: 6px 12px;
            font-size: 14px;
            font-weight: 400;
            color: #ffffff;
            line-height: 1.42857143;
            white-space: nowrap;
            border-radius: 4px;
            border: none;
            outline: none;            
        }
        .btn_cancel{
            background: #bec3c7;
        }
        .btn_ok{
            background: #f1c500;
            margin-left: 5px;
        }
    }
}
.big_images{
    z-index: 11;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: hsla(0, 0, 0, 0.7);
    @keyframes showImage{
      from{
        transform: translate(-50%,-100%);
      }
      to{
        transform: translate(-50%,-50%);
      }
    }
    .show_img{
        z-index: 12;
        position: fixed;
        top: 50%;
        left: 50%;
        max-width: 70%;
        height: 600px;
        padding: 0 30px;
        animation: showImage 0.5s;
        animation-fill-mode:forwards;
        img{
            max-height: 100%;
            max-width: 100%;
        }
        .arr{
            position:absolute;
            top: 50%;
            width: 18px;
            height: 18px;
            border:3px solid hsla(255, 255, 255, 0.5);
            border-radius: 3px;
            cursor: pointer;
            &.hide{
              display: none;
            }
        }
        .arr_left{
            border-left: none;
            border-bottom: none;
            right: 18px;
            transform:rotate(45deg) translateY(-50%);
            
        }
        .arr_right{
            border-right: none;
            border-bottom: none;
            left: 18px;
            transform:rotate(-45deg) translateY(-50%);
        }
    }
}
</style>
<script>
import Dialog from '@/components/Dialog.vue'
export default {
  data () {
    return {
      states: ['待处理', '已回复', '已拒绝'],
      types: ['操作问题', '功能异常', '体验问题', '新功能建议', '其他问题'],
      state: -1, // -1:全部,1:待处理，2:已回复，3:已拒绝
      type: -1, // -1:全部,1:操作问题，2:功能异常，3:体验问题，4:新功能建议，5:其他问题
      list: [],
      page_num: 1,
      page_total: 1,
      page_size: 10,
      loading: true,
      sessionID: sessionStorage.getItem('REQUEST_HEADER_SESSION_ID'),
      dialog: { // dialog配置
        title: '拒绝回复该问题反馈',
        content: '请确认是否操作？',
        show: false,
        confirm: this.confirm,
        cancel: this.cancelDialog
      },
      operations: {},
      reply: '',
      showReply: false, // 是否显示回复对话框
      currImages: [],
      len: 0,
      currBigImg: '',
      currImgIndex: -1
    }
  },
  components: {
    'xm-dialog': Dialog
  },
  created () {
    // 获取问题反馈列表，并赋值给list
    this.getInfo()
  },
  methods: {
    search () {
      this.page_num = 1
      // 根据条件查询列表
      this.getInfo()
    },
    changePage (event) {
      // 点击页码切换信息
      let currPage = event.target.dataset['id'] ? parseInt(event.target.dataset['id']) : ''
      if (currPage) {
        this.page_num = currPage
        this.getInfo()
      }
    },
    prevPage () {
      // 上一页
      if (this.page_num === 1) {
        return
      }
      let currPage = this.page_num - 1
      this.page_num = currPage
      this.getInfo()
    },
    nextPage () {
      // 下一页
      if (this.page_num === this.page_total) {
        return
      }
      let currPage = this.page_num + 1
      this.page_num = currPage
      this.getInfo()
    },
    getInfo () {
      let that = this
      let pageSize = that.page_size
      // 获取列表信息
      let params = {
        Type: this.type,
        Flag: this.state,
        Page: this.page_num, // 不传Page和Size时，一页获取全部信息
        Size: pageSize
      }
      that.loading = true
      this.$http.get('https://wxapi.dobit.top/api/Question/Server', { params: params, headers: { SessionID: that.sessionID } }).then((response) => {
        // 响应成功回调
        let status = response.status
        if (status === 200) {
          const {State, Message, Rows, Total} = response.body
          if (State === 1) {
            let len = Rows.length
            that.loading = false
            that.list = Rows
            if (len === 0) {
              return
            }
            that.page_total = Math.ceil(Total / pageSize)
          } else {
            alert(Message)
          }
        } else {
          alert('请求失败')
        }
      }, (response) => {
        // 响应错误回调
        let status = response.status
        if (status === 401) {
          this.$router.push('/login')
        } else {
          alert('请求失败')
        }
      })
    },
    seeOriginImages (event) {
      // 查看大图
      const target = event.target
      if (target.tagName.toLowerCase() === 'img') {
        const index = parseInt(event.currentTarget.dataset['index'])
        const currImages = this.list[index].ImageUrls
        if (currImages.length === 0) return
        const imgIndex = parseInt(target.dataset['imgindex'])
        this.currBigImg = currImages[imgIndex]
        this.currImgIndex = imgIndex
        this.currImages = currImages
        this.len = currImages.length
      }
    },
    nextImg () {
      // 下一张图片
      this.currBigImg = this.currImages[++this.currImgIndex]
    },
    prevImg () {
      // 上一张图片
      this.currBigImg = this.currImages[--this.currImgIndex]
    },
    hideImage () {
      // 关闭大图
      this.currImages = []
      this.len = 0
      this.currBigImg = ''
      this.currImgIndex = -1
    },
    operation (event) {
      const target = event.target
      if (target.tagName.toLowerCase() === 'td') return
      const ID = parseInt(target.dataset['id'])
      const Flag = parseInt(target.dataset['operation'])
      const index = parseInt(target.dataset['index'])
      this.operations.ID = ID
      this.operations.Flag = Flag
      this.operations.index = index
      if (Flag === 2) {
        // 回复／修改回复
        this.reply = this.list[index].Answer || ''
        this.showReply = true
      } else {
        // 拒绝
        this.dialog.show = true
      }
    },
    hideReply () {
      this.showReply = false
      this.reply = ''
    },
    saveReply () {
      this.showReply = false
      const replyContent = this.reply
      // 提交请求保存
      this.updateFeedback(replyContent)
    },
    confirm () {
      // 拒绝回复反馈的问题
      this.dialog.show = false
      this.updateFeedback()
    },
    cancelDialog () {
      // 对话框取消按钮
      this.dialog.show = false
    },
    updateFeedback (answer) {
      const {ID, Flag, index} = this.operations
      let params = {
        Answer: answer,
        Flag: Flag
      }
      this.$http.put(`https://wxapi.dobit.top/api/Question/${ID}`, params, { headers: { SessionID: this.sessionID } }).then((response) => {
        // 响应成功回调
        let status = response.status
        if (status === 200) {
          const {State, Message} = response.body
          if (State === 1) {
            if (Flag === 2) {
              // 更新回复内容
              this.list[index].Answer = answer
            }
            // 修改状态
            this.list[index].Flag = Flag
          } else {
            alert(Message)
          }
        } else {
          alert('请求失败')
        }
      }, (response) => {
        // 响应错误回调
        let status = response.status
        if (status === 401) {
          this.$router.push('/login')
        } else {
          alert('请求失败')
        }
      })
    }
  }
}
</script>
