<template>
  <div>
    <ul class="statistics">
      <li class="block">
        <div class="panel">
          <div class="data_icon bg_green"><i class="iconfont icon-all"></i></div>
          <div class="data_value">
            <div class="data_count">{{statistics.Total||0}}</div>
            <div>全部发布</div>
          </div>
        </div>
      </li>
      <li class="block">
        <div class="panel">
          <div class="data_icon bg_red"><i class="iconfont icon-daishenhe"></i></div>
          <div class="data_value">
            <div class="data_count">{{statistics.Wait||0}}</div>
            <div>待审核</div>
          </div>
        </div>
      </li>
      <li class="block">
        <div class="panel">
          <div class="data_icon bg_yellow"><i class="iconfont icon-dingdanshenheyitongguo"></i></div>
          <div class="data_value">
            <div class="data_count">{{statistics.Pass||0}}</div>
            <div>已审核</div>
          </div>
        </div>
      </li>
      <li class="block">
        <div class="panel">
          <div class="data_icon bg_blue"><i class="iconfont icon-jiaoyi"></i></div>
          <div class="data_value">
            <div class="data_count">{{statistics.Success||0}}</div>
            <div>已成功</div>
          </div>
        </div>
      </li>
      <li class="block">
        <div class="panel">
          <div class="data_icon bg_purple"><i class="iconfont icon-jujue"></i></div>
          <div class="data_value">
            <div class="data_count">{{statistics.Refuse||0}}</div>
            <div>已拒绝</div>
          </div>
        </div>
      </li>
      <li class="block">
        <div class="panel">
          <div class="data_icon bg_lgreen"><i class="iconfont icon-shanchu"></i></div>
          <div class="data_value">
            <div class="data_count">{{statistics.Delete||0}}</div>
            <div>已删除</div>
          </div>
        </div>
      </li>
    </ul>
    <div class="content">
      <!--左侧时间轴-->
      <div class="timeline">
        <h1 class="title">昨日共发布了{{len}}条信息</h1>
        <p class="introduction">{{yesterday}} 发布信息时间轴</p>
        <xm-timeline v-bind:info="list" v-bind:loading="loading"></xm-timeline>
      </div>
      <!--右侧内容-->
      <div class="right_part">
        <!--轮播图-->
        <div class="gallary">
          <img-slider></img-slider>
        </div>
        <!--有关宠物信息的链接-->
        <div class="links">
          <h1>相关动物救助平台</h1>
          <ul>
            <li><span>猫狗找家——微信公众号</span><div class="qr_code"><img src="../assets/maogouzhaojia.png"/></div></li>
            <li><span>成都宠物圈——支付宝圈子</span><div class="qr_code"><img src="../assets/maogouzhaojia.png"/></div></li>
            <li><span>路上记忆咖啡馆——微信公众号</span><div class="qr_code"><img src="../assets/maogouzhaojia.png"/></div></li>
             <li><span>萌宠找家——微信小程序</span><div class="qr_code"><img src="../assets/maogouzhaojia.png"/></div></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Gallary from '@/components/Gallary.vue'
  import Timeline from '@/components/Timeline.vue'
  export default {
    name: 'hello',
    data () {
      return {
        yesterday: this.getYesterdayDate(),
        list: [],
        loading: true,
        statistics: {},
        len: 0,
        sessionID: sessionStorage.getItem('REQUEST_HEADER_SESSION_ID')
      }
    },
    components: {
      'img-slider': Gallary,
      'xm-timeline': Timeline
    },
    created () {
      this.getStatisticData()
      this.getYesterdayList()
    },
    methods: {
      getYesterdayDate () {
        let date = new Date()
        date.setDate(date.getDate() - 1)
        const year = date.getFullYear()
        let month = date.getMonth() + 1
        let day = date.getDate()
        month = month > 9 ? month : '0' + month
        day = day > 9 ? day : '0' + day
        return year + '-' + month + '-' + day
      },
      getYesterdayList () {
        let that = this
        that.loading = true
        // 获取列表信息（注意：微信小程序和pc虽然是统一接口，但是传参数是不通的哦）
        let params = {
          City: '',
          Type: -1, // -1:全部，0:领养，1:寻找
          Date: this.yesterday, // 传空时，获取所有时间的；传某一天（2017-04-20），获取改天信息
          Flag: -1 // -1:全部，0:删除，1:待审核，2:已审核，3:已成功，4:已拒绝
        }
        this.$http.get('https://wxapi.dobit.top/Api/Info/Server', {params: params, headers: {SessionID: that.sessionID}}).then((response) => {
          // 响应成功回调
          let status = response.status
          if (status === 200) {
            let {State, Message, Rows} = response.body
            if (State === 1) {
              let len = Rows.length
              that.len = len
              that.loading = false
              if (len === 0) {
                return
              }
              that.list = Rows
            } else {
              alert(Message)
            }
          } else {
            alert('请求失败')
          }
        }, (response) => {
          // 响应错误回调
          let status = response.status
          if (status === 401) {
            this.$router.push('/login')
          } else {
            alert('请求失败')
          }
        })
      },
      getStatisticData () {
        let that = this
        // 获取不同状态统计数据
        this.$http.get('https://wxapi.dobit.top/Api/Count', {headers: {SessionID: that.sessionID}}).then((response) => {
          // 响应成功回调
          let status = response.status
          if (status === 200) {
            let {State, Message, Result} = response.body
            if (State === 1) {
              that.statistics = Result
            } else {
              alert(Message)
            }
          } else {
            alert('请求失败')
          }
        }, (response) => {
          // 响应错误回调
          let status = response.status
          if (status === 401) {
            this.$router.push('/login')
          } else {
            alert('请求失败')
          }
        })
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
  .container {
    margin-bottom: 20px;
    background-color: #ffffff;
    border-radius: 4px;
  }

  .statistics {
    overflow: hidden;
    .block {
      float: left;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      .panel {
        @extend .container;
        height: 100px;
        overflow: hidden;
        .data_icon,
        .data_value {
          float: left;
        }
        .data_icon {
          width: 40%;
          height: 100px;
          line-height: 100px;
          text-align: center;
          color: #ffffff;
          .iconfont {
            font-size: 45px;
          }
          &.bg_green {
            background: #6ccac9;
          }
          &.bg_red {
            background: #ff6c60;
          }
          &.bg_yellow {
            background: #f8d347;
          }
          &.bg_blue {
            background: #57c8f2;
          }
          &.bg_purple {
            background: #8074C6;
          }
          &.bg_lgreen {
            background: #A8D76F;
          }
        }
        .data_value {
          width: 58%;
          height: 100px;
          text-align: center;
          color: #c6cad6;
          .data_count {
            margin-top: 22px;
            font-size: 36px;
            line-height: 1;
            font-weight: 300;
          }
        }
      }
    }
    @media (max-width: 900px) {
      .block {
        width: 50%;
        &:not(:nth-child(2n)) {
          padding-right: 30px;
        }
      }
    }
    @media (min-width: 900px) {
      .block {
        width: 33.33%;
        &:not(:nth-child(3n)) {
          padding-right: 30px;
        }
      }
    }
  }

  .content {
    overflow: hidden;
    @media (max-width: 900px) {
      .timeline {
        width: 100%;
      }
      .right_part {
        width: 100%;
      }
    }
    @media (min-width: 900px) {
      .timeline {
        float: left;
        width: 65%;
        margin-right: 30px;
      }
      .right_part {
        overflow: hidden;
      }
    }
    .timeline {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding: 15px;
      @extend .container;
      .title {
        font-size: 20px;
        font-weight: 400;
        text-align: center;
        color: #c8ccd7;
        margin-bottom: 5px;
      }
      .introduction {
        text-align: center;
        color: #c8ccd7;
        margin-bottom: 30px;
      }
    }
    .right_part {
      .gallary {
        min-height: 100px;
        @extend .container;
      }
      .links {
        min-height: 100px;
        padding: 15px;
        @extend .container;
        h1{
          color: #937b7b;
          font-size: 16px;
          font-weight: 700px;
        }
        ul{
          margin-top: 20px;
          li{
            position: relative;
            margin-bottom: 10px;
            cursor: pointer;
            .qr_code{
              position: absolute;
              left: 40px;
              bottom: 20px;
              box-sizing: border-box;
              width: 200px;
              height: 0;
              border-radius: 4px;
              background-color: #ffffff;
              box-shadow: 0 0 3px 0 #c8ccd7;
              overflow: hidden;
              transition: height 0.5s;
              img{
                width: 100%;
              }
            }
            &:hover{
              color: #FF6C60;
            }
            &:hover .qr_code{
              height: 200px;
            }
          }
        }
      }
    }
  }
</style>
