<template>
  <div class="login">
    <h1>用户登录</h1>
    <form v-on:submit.prevent='login'>
      <input type="text" placeholder="请输入用户名" class="input" v-model="user_name" required/>
      <input type="password" placeholder="请输入密码" class="input" v-model="user_pwd" required/>
      <input type="submit" value="登录" class="btn_submit" />
    </form>
  </div>
</template>

<style lang="scss" scoped>
  .login {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 330px;
    background: #ffffff;
    border-radius: 5px;
    overflow: hidden;
    h1 {
      padding: 20px 15px;
      text-align: center;
      color: #fff;
      font-size: 18px;
      line-height: 1;
      font-weight: 300;
      background: #41cac0;
    }
    form {
      padding: 20px;
      input {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        outline: none;
      }
      .input {
        line-height: 1.42857143;
        padding: 10px;
        margin-bottom: 15px;
        font-size: 12px;
        color: #777777;
        border-radius: 5px;
        border: 1px solid #eaeaea;
        background-color: #ffffff;
      }
      .btn_submit {
        border: none;
        padding: 10px 16px;
        margin-bottom: 20px;
        line-height: 1.3333333;
        font-size: 18px;
        color: #fff;
        text-align: center;
        font-weight: 300;
        background: #f67a6e;
        border-radius: 6px;
        box-shadow: 0 4px #e56b60;
        cursor: pointer;
        &:hover,&:active{
          background: #e56b60;
          box-shadow: 0 4px #e0574a;
        }
      }
    }
  }
</style>

<script>
  export default {
    data () {
      return {
        user_name: '',
        user_pwd: ''
      }
    },
    methods: {
      login () {
        let params = {
          'UserName': this.user_name,
          'UserPwd': window.md5(this.user_pwd)
        }
        this.$http.post('https://wxapi.dobit.top/Api/User', params).then((response) => {
          if (response.status === 200) {
            let {State, Message, Result} = response.body
            if (State === 1) {
              sessionStorage.setItem('REQUEST_HEADER_SESSION_ID', Result)
              this.$router.push('/animal')
            } else {
              alert(Message)
            }
          } else {
            alert('请求失败')
          }
        }, (response) => {
          alert('请求失败')
        })
        // let xhr = new XMLHttpRequest()
        // xhr.open('post', 'https://wxapi.dobit.top/Api/User', true)
        // xhr.setRequestHeader('content-type', 'application/json')
        // xhr.onreadystatechange = function () {
        //   if (xhr.readyState === 4) {
        //     let response = JSON.parse(xhr.responseText)
        //     console.log('成功:' + response)
        //   } else {
        //     console.log('失败')
        //   }
        // }
        // 传参为json字符串
        // xhr.send(JSON.stringify(params))
      }
    }
  }
</script>
