<template>
  <div>
    <form class="search" v-on:submit.prevent="search">
      <select class="input_style" v-model="state">
        <option value="-1">请选择帖子状态</option>
        <option value="0">已删除</option>
        <option value="1">待审核</option>
        <option value="2">已审核</option>
        <option value="3">已成功</option>
        <option value="4">已拒绝</option>
      </select>
      <input type="date" class="input_style" v-model="date" />
      <input type="submit" value="搜索" class="input_style btn_submit" />
    </form>
    <div class="results">
      <h1 class="table_title">已发布的寻找信息如下：</h1>
      <template v-if="list.length!==0">
        <xm-table v-bind:list="list" v-bind:size="page_size" v-bind:page="page_num" v-bind:operation="operation" />
        <div class="pages">
          <ul v-on:click="changePage">
            <li v-bind:class="{disabled:page_num===1}" v-on:click.stop="prevPage"><i class="iconfont icon-shangyiye"></i></li>
            <li v-bind:class="{active: n===page_num}" v-bind:data-id="n" v-for="n in page_total" v-bind:key="n">{{n}}</li>
            <li v-bind:class="{disabled:page_num===page_total}" v-on:click.stop="nextPage"><i class="iconfont icon-xiayiye"></i></li>
          </ul>
        </div>
      </template>
      <!--发布信息为空时-->
      <div class="no_content" v-else>{{loading?'加载中...':'相关发布信息为空哦！'}}</div>
    </div>
    <xm-dialog v-bind:dialog="dialog"></xm-dialog>
    <xm-detail v-bind:detail="detail" v-bind:show="showDetail" v-bind:cancel="cancelDetail"></xm-detail>
  </div>
</template>

<style lang="scss" scoped>
.search {
  padding: 15px;
  background-color: #fff;
  border-radius: 4px;
  margin-bottom: 20px;
  text-align: right;
  .input_style {
    height: 36px;
    box-sizing: border-box;
    padding: 8px 10px;
    font-size: 14px;
    line-height: 1.42857143;
    background-color: #fff;
    border-radius: 4px;
    color: #777;
    border: 1px solid #e2e2e4;
    outline: none;
    vertical-align: middle;
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
  .btn_submit:hover {
    background: #eee;
  }
}

.results {
  background-color: #fff;
  border-radius: 4px;
  overflow: hidden;
  .table_title {
    font-size: 16px;
    font-weight: 300;
    padding: 10px 15px;
    border-bottom: 1px solid #eff2f7;
  }
  .pages {
    padding: 15px 15px 30px;
    text-align: right;
    li {
      display: inline-block;
      padding: 5px 10px;
      color: #797979;
      border: 1px solid #ddd;
      border-radius: 3px;
      cursor: pointer;
      margin: 0 1px;
      &.active {
        background: #eee;
      }
      &.disabled {
        color: #c7c7c7;
      }
      &:not(.disabled):hover {
        background: #eee;
      }
    }
  }
}

.no_content {
  padding: 30px 0;
  text-align: center;
}
</style>

<script>
import Table from '@/components/Table.vue'
import Dialog from '@/components/Dialog.vue'
import Detail from '@/components/Detail.vue'
export default {
  data () {
    return {
      state: -1, // -1:全部,0:删除，1:待审核，2:已审核，3:已成功，4:已拒绝
      date: '',
      loading: true,
      list: [],
      page_num: 1,
      page_total: 1,
      page_size: 10,
      sessionID: sessionStorage.getItem('REQUEST_HEADER_SESSION_ID'),
      dialog: { // dialog配置
        title: '修改发布信息状态',
        content: '请确认是否操作？',
        show: false,
        confirm: this.confirm,
        cancel: this.cancelDialog
      },
      detail: {},
      showDetail: false,
      operations: {}
    }
  },
  components: {
    'xm-table': Table,
    'xm-dialog': Dialog,
    'xm-detail': Detail
  },
  created () {
    // 获取发布信息列表，并赋值给list
    this.getInfo()
  },
  methods: {
    search () {
      this.page_num = 1
      // 根据条件查询列表
      this.getInfo()
    },
    changePage (event) {
      // 点击页码切换信息
      let currPage = event.target.dataset['id'] ? parseInt(event.target.dataset['id']) : ''
      if (currPage !== '') {
        this.page_num = currPage
        this.getInfo()
      }
    },
    prevPage () {
      // 上一页
      if (this.page_num === 1) {
        return
      }
      let currPage = this.page_num - 1
      this.page_num = currPage
      this.getInfo()
    },
    nextPage () {
      // 下一页
      if (this.page_num === this.page_total) {
        return
      }
      let currPage = this.page_num + 1
      this.page_num = currPage
      this.getInfo()
    },
    getInfo () {
      let that = this
      let pageSize = that.page_size
      // 获取列表信息（注意：微信小程序和pc虽然是统一接口，但是传参数是不通的哦）
      let params = {
        City: '',
        Type: 1, // -1:全部，0:领养，1:寻找
        Date: this.date, // 传空时，获取所有时间的；传某一天（2017-04-20），获取改天信息
        Flag: this.state, // -1:全部，0:删除，1:待审核，2:已审核，3:已成功
        Page: this.page_num, // 不传Page和Size时，一页获取全部信息
        Size: pageSize
      }
      that.loading = true
      this.$http.get('https://wxapi.dobit.top/Api/Info/Server', { params: params, headers: { SessionID: that.sessionID } }).then((response) => {
        // 响应成功回调
        let status = response.status
        if (status === 200) {
          let {State, Message, Rows, Total} = response.body
          if (State === 1) {
            let len = Rows.length
            that.loading = false
            if (len === 0) {
              that.list = []
              return
            }
            that.list = Rows
            that.page_total = Math.ceil(Total / pageSize)
          } else {
            alert(Message)
          }
        } else {
          alert('请求失败')
        }
      }, (response) => {
        // 响应错误回调
        let status = response.status
        if (status === 401) {
          this.$router.push('/login')
        } else {
          console.log(response.body.Message)
        }
      })
    },
    operation (event) {
      const target = event.target
      if (target.tagName.toLowerCase() === 'td') return
      const ID = parseInt(target.dataset['id'])
      const Flag = parseInt(target.dataset['operation'])
      const index = parseInt(target.dataset['index'])
      this.operations.ID = ID
      this.operations.Flag = Flag
      this.operations.index = index
      if (Flag === -1) {
        // 查看信息详情
        this.$http.get(`https://wxapi.dobit.top/Api/Info/${ID}`, { headers: { SessionID: this.sessionID } }).then((response) => {
          // 响应成功回调
          let status = response.status
          if (status === 200) {
            this.detail = response.body
            this.showDetail = true
          } else {
            alert('请求失败')
          }
        }, (response) => {
          // 响应错误回调
          let status = response.status
          // session ID失效
          if (status === 401) {
            this.$router.push('/login')
          } else {
            alert('请求失败')
          }
        })
      } else {
        // 审核、拒绝、删除操作，点击按钮弹对话框进行二次确认
        this.dialog.show = true
      }
    },
    confirm () {
      // 对话框确认按钮，关闭对话框，然后执行对应操作
      this.dialog.show = false
      // 修改信息状态（注意：微信小程序和pc同一个借口）
      const {ID, Flag, index} = this.operations
      // 删除：put和delete请求都可以，并且不会把信息从数据库删除；唯一区别是put需传ID和Flag两个参数，而delete只需传ID
      this.$http.put(`https://wxapi.dobit.top/Api/Status/${ID}`, {Flag: Flag}, { headers: { SessionID: this.sessionID } }).then((response) => {
        // 响应成功回调
        let status = response.status
        if (status === 200) {
          let {State, Message, Result} = response.body
          if (State === 1) {
            if (Result) {
              // 修改状态成功处理
              this.list[index].Flag = Flag
            }
          } else {
            alert(Message)
          }
        } else {
          alert('请求失败')
        }
      }, (response) => {
        // 响应错误回调
        let status = response.status
        if (status === 401) {
          this.$router.push('/login')
        } else {
          alert(response.body.Message)
        }
      })
    },
    cancelDetail () {
      // 详情对话框取消
      this.showDetail = false
    },
    cancelDialog () {
      // 对话框取消按钮
      this.dialog.show = false
    }
  }
}
</script>
