@font-face {
    font-family: "iconfont";
    src: url('//at.alicdn.com/t/font_5ady7nsaxa6vfgvi.eot?t=1493778747306');
    /* IE9*/
    src: url('//at.alicdn.com/t/font_5ady7nsaxa6vfgvi.eot?t=1493778747306#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('//at.alicdn.com/t/font_5ady7nsaxa6vfgvi.woff?t=1493778747306') format('woff'), /* chrome, firefox */
    url('//at.alicdn.com/t/font_5ady7nsaxa6vfgvi.ttf?t=1493778747306') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('//at.alicdn.com/t/font_5ady7nsaxa6vfgvi.svg?t=1493778747306#iconfont') format('svg');
    /* iOS 4.1- */
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-jiahao:before {
    content: "\e602";
}

.icon-shanchu:before {
    content: "\e600";
}

.icon-dashboard:before {
    content: "\e780";
}

.icon-tousu:before {
    content: "\e617";
}

.icon-jiaoyi:before {
    content: "\e62e";
}

.icon-shangyiye:before {
    content: "\e61f";
}

.icon-fankui:before {
    content: "\e637";
}

.icon-fenlei:before {
    content: "\e66b";
}

.icon-shenhe:before {
    content: "\e797";
}

.icon-all:before {
    content: "\e60c";
}

.icon-xiayiye:before {
    content: "\e60f";
}

.icon-daishenhe:before {
    content: "\e672";
}

.icon-dingdanshenheyitongguo:before {
    content: "\e6d8";
}

.icon-jianhao:before {
    content: "\e641";
}

.icon-jujue:before {
    content: "\e601";
}