<template>
    <div>
        <div class="detail-mask" v-bind:class="{show:show}" v-on:click="cancel"></div>
        <div class="detail" v-bind:class="{show:show}">
            <div class="title">{{detail.Title}}</div>
            <div class="info">
                 <div class="line">
                    <div class="item"><span class="label">发布时间：</span><span class="content">{{detail.CreateDateTime&&detail.CreateDateTime.replace('T', ' ')}}</span></div>
                    <div class="item"><span class="label">发布人：</span><span class="content">{{detail.WeixinName}}</span></div>
                </div>
                <!--一行展示两个信息-->
                <div class="line">
                    <div class="item"><span class="label">发布类型：</span><span class="content">{{detail.Type?'寻找':'待领养'}}</span></div>
                    <div class="item"><span class="label">宠物性别：</span><span class="content">{{detail.Sex?(detail.Sex===1?'妹妹':'不详'):'弟弟'}}</span></div>
                </div>
                <div class="line">
                    <div class="item"><span class="label">宠物种类：</span><span class="content">{{animals[detail.Category]}}</span></div>
                    <div class="item"><span class="label">宠物年龄：</span><span class="content">{{detail.Age||'不详'}}</span></div>
                </div>
                <div class="line">
                    <div class="item"><span class="label">联系电话：</span><span class="content">{{detail.Phone||''}}</span></div>
                    <div class="item"><span class="label">微信号码：</span><span class="content">{{detail.WeChat||''}}</span></div>
                </div>
                <!--一行展示一条信息-->
                <div class="line">
                    <span class="label">宠物信息：</span>
                    <span class="content">{{detail.Info||''}}</span>
                </div>
                <div class="line">
                    <span class="label">宠物图片：</span>
                    <span class="content">
                        <img v-bind:src="'http://img.animal.dobit.top/'+item + '-w200'" v-for="(item,index) in detail.ImageUrls" v-bind:key="index"/>
                    </span>
                </div>
                <div class="line" v-if="detail.Type===0">
                    <span class="label">送养原因：</span>
                    <span class="content">{{detail.Reason||''}}</span>
                </div>
                <div class="line" v-if="detail.Type===0">
                    <span class="label">领养要求：</span>
                    <span class="content">{{detail.Require||''}}</span>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
   export default {
     data () {
       return {
         animals: ['', '猫咪', '狗狗', '其他']
       }
     },
     props: ['detail', 'show', 'cancel']
   }
</script>
<style lang="scss" scoped>
.detail {
    z-index: 11;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    width: 75%;
    height: 90%;
    min-width: 890px;
    min-height: 550px;
    background: #fff;
    border-radius: 4px;
    overflow-y: scroll;
    transition: transform 0.5s;
    &.show{
         transform: translate(-50%,-50%) scale(1);
    }
    .title {
        padding: 20px;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        background: #41cac0;
    }
    .info {
        padding: 15px;
        .line {
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            -moz-align-items: center;
            align-items: center;
            margin-bottom: 10px;
            overflow: hidden;
            .item {
                width: 50%;
                float: left;
            }
            .label {
                display: inline-block;
                width: 100px;
                font-weight: bold;
                color: #89817e;
            }
            .content {
                -webkit-box-flex: 1;
                -webkit-flex: 1;
                -moz-box-flex: 1;
                -moz-flex: 1;
                -ms-flex: 1;
                flex: 1;
                img{
                    width: 200px;
                }
            }
        }
    }
}

.detail-mask {
    display: none;
    z-index: 11;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: hsla(0, 0, 0, 0.7);
    &.show {
        display: block;
    }
}

</style>
