<template>
    <div>
        <div class="dialog-mask" v-bind:class="{show:dialog.show}"></div>
        <div class="dialog-modal" v-bind:class="{show:dialog.show}">
            <div class="modal-header">
                <button type="button" class="close" v-on:click="dialog.cancel">×</button>
                <h4 class="modal-title">{{dialog.title}}</h4>
            </div>
            <div class="modal-body">{{dialog.content}}</div>
            <div class="modal-footer">
                <button class="btn btn-cancel" type="button" v-on:click="dialog.cancel">取消</button>
                <button class="btn btn-ok" type="button" v-on:click="dialog.confirm"> 确认</button>
            </div>
        </div>
    </div>
</template>
<script>
   export default {
     props: ['dialog']
   }
</script>
<style lang="scss" scoped>
    .dialog-modal {
        opacity: 0;
        pointer-events: none;
        z-index: 11;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 300px;
        box-sizing: border-box;
        background-color: #fff;
        border-radius: 6px;
        transition: opacity 0.5s;
        &.show{
            opacity: 1;
            pointer-events: auto;
        }
        .modal-header {
            padding: 15px;
            color: #fff;
            background: #00A8B3;
            border-radius: 5px 5px 0 0;
            .modal-title {
                font-size: 18px;
                font-weight: 300;
                line-height: 1.42857143;
            }
            .close {
                padding: 0;
                border: none;
                outline: none;
                background: transparent;
                cursor: pointer;
                float: right;
                line-height: 1;
                font-size: 21px;
                font-weight: 700;
                color: #000000;
                text-shadow: 0 1px 0 #ffffff;
                opacity: 0.2
            }
        }
        .modal-body {
            padding: 15px;
        }
        .modal-footer {
            padding: 15px;
            text-align: right;
            border-top: 1px solid #e5e5e5;
            .btn {
                padding: 6px 12px;
                font-size: 14px;
                font-weight: 400;
                color: #ffffff;
                line-height: 1.42857143;
                white-space: nowrap;
                border-radius: 4px;
                border: none;
                outline: none;
                &.btn-cancel {
                    background-color: #bec3c7;
                }
                &.btn-ok {
                    background-color: #f1c500;
                    margin-left: 5px;
                }
            }
            .btn-cancel:hover {
                background-color: #b0b5b9;
            }
            .btn-ok:hover {
                background-color: #e4ba00;
            }
        }
    }
    
    .dialog-mask {
        z-index: 11;
        display: none;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: hsla(0, 0, 0, 0.5);
        &.show{
            display: block;
        }
    }
</style>
