<template>
    <div id="slider">
        <input checked="" type="radio" name="slider" id="slide1" selected="false">
        <input type="radio" name="slider" id="slide2" selected="false">
        <input type="radio" name="slider" id="slide3" selected="false">
        <input type="radio" name="slider" id="slide4" selected="false">
        <div id="overflow">
            <div class="inner width_4">
                <article class="article_4">
                    <img src="../assets/4.jpg">
                </article>
                <article class="article_4">
                    <img src="../assets/2.jpg">
                </article>
                <article class="article_4">
                    <img src="../assets/3.jpeg">
                </article>
                <article class="article_4">
                    <img src="../assets/1.jpg">
                </article>
            </div>
            <!-- .inner -->
        </div>
        <!-- #overflow -->
        <div class="dots">
            <label for="slide1"></label>
            <label for="slide2"></label>
            <label for="slide3"></label>
            <label for="slide4"></label>
        </div>
    </div>
</template>

<style lang="scss" scoped>
    #slider {
        position: relative;
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }
    
    #overflow {
        width: 100%;
        overflow: hidden;
    }
    
    #overflow .width_4 {
        width: 400%;
    }
    
    #overflow .inner {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        -moz-align-items: center;
        align-items: center;
        -webkit-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
        -moz-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
        -o-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
        -ms-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
        transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    }
    
    #overflow .article_4 {
        width: 25%;
        float: left;
        font-size: 0;
        overflow: hidden;
        border-radius: 4px;
        img {
            width: 100%;
        }
    }
    
    #slide1:checked~#overflow .inner {
        margin-left: 0;
    }
    
    #slide2:checked~#overflow .inner {
        margin-left: -100%;
    }
    
    #slide3:checked~#overflow .inner {
        margin-left: -200%;
    }
    
    #slide4:checked~#overflow .inner {
        margin-left: -300%;
    }
    
    input[type="radio"] {
        display: none;
    }
    
    .dots {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        label {
            background: #c8ccd7;
            display: inline-block;
            cursor: pointer;
            width: 10px;
            height: 10px;
            border-radius: 5px;
        }
    }
    
    #slide1:checked~.dots label[for="slide1"],
    #slide2:checked~.dots label[for="slide2"],
    #slide3:checked~.dots label[for="slide3"],
    #slide4:checked~.dots label[for="slide4"] {
        background: #FF6C60;
    }
</style>
