<template>
    <ul class="menus">
        <template v-for="(item, index) in menus">
            <!--没有二级菜单-->
            <template v-if="item.sub_menus.length===0">
                <li class="menu" v-on:click="hideSubMenu">
                    <router-link v-bind:to="item.menu_url" active-class="active"><i class="iconfont menu-icon" v-bind:class="item.menu_icon"></i><span>{{item.menu_name}}</span></router-link>
                </li>
            </template>
            <!--有二级菜单-->
            <template v-else>
                <li class="menu" v-on:click="toggleMenus(index)">
                    <router-link v-bind:to="item.menu_url" active-class="active"><i class="iconfont menu-icon" v-bind:class="item.menu_icon"></i><span>{{item.menu_name}}</span><i class="iconfont extend-icon" v-bind:class="[menuIndex === index ? 'icon-jianhao' : 'icon-jiahao']"></i></router-link>
                    <ul class="sub-menus" v-bind:class="[ menuIndex === index ? 'show' : '']" v-on:click.stop>
                        <template v-for="(sitem,sindex) in item.sub_menus">
                            <li class="sub-menu">
                                <router-link v-bind:to="sitem.sub_url" active-class="sub-active">{{sitem.sub_name}}</router-link>
                            </li>
                        </template>
                    </ul>
                </li>
            </template>
        </template>
    </ul>
</template>

<script>
    export default {
      data () {
        return {
          menuIndex: -1,
          currMenu: -1
        }
      },
      props: ['menus'],
      methods: {
        hideSubMenu () {
          this.menuIndex = -1
        },
        toggleMenus (index) {
          let currIndex = this.menuIndex
          this.currMenu = index
          // 解决"菜单进行切换时第一次点击不显示二级菜单，要点击第二次才显示"的问题
          if (currIndex !== -1 && currIndex !== index) {
            currIndex = -1
          }
          if (currIndex === -1) {
            this.menuIndex = index
          } else {
            this.menuIndex = -1
          }
        }
      }
    }
</script>

<style lang="scss" scoped>
    .menus {
        margin-top: 75px;
        // 一级菜单
        .menu {
            margin: 0 10px 5px;
            a {
                text-decoration: none;
                display: block;
                font-size: 12px;
                color: #aeb2b7;
                padding: 15px 0 15px 10px;
                -webkit-transition: all 0.3s ease;
                -moz-transition: all 0.3s ease;
                -ms-transition: all 0.3s ease;
                -o-transition: all 0.3s ease;
                transition: all 0.3s ease;
                i {
                    font-size: 15px;
                    padding-right: 10px;
                }
            }
            a:hover,
            .active {
                background-color: #35404d;
                color: #FFFFFF;
                border-radius: 4px;
                -webkit-transition: all 0.3s ease;
                -moz-transition: all 0.3s ease;
                -ms-transition: all 0.3s ease;
                -o-transition: all 0.3s ease;
                transition: all 0.3s ease;
                .menu-icon{
                  color: #FF6C60;
                }
            }
            .extend-icon {
                float: right;
            }
        }
        //二级菜单
        .sub-menus {
            height: 0;
            overflow: hidden;
            margin: -2px 0 0;
            background: #35404d;
            border-radius: 0 0 4px 4px;
            -webkit-transition: all 5s ease;
            -moz-transition: all 5s ease;
            -ms-transition: all 5s ease;
            -o-transition: all 5s ease;
            transition: all 5s ease;
            &.show {
              height: auto;
            }
            .sub-menu {
                padding-left: 32px;
                a {
                    text-decoration: none;
                    display: block;
                    height: 23px;
                    line-height: 23px;
                    padding: 6px 0;
                    font-size: 12px;
                    color: #aeb2b7;
                    &:hover,&.sub-active{
                      color: #FF6C60;
                    }
                }
            }
        }
    }
</style>
