<template>
  <div>
    <header class="top_nav">
      <span class="catalog" v-on:click="handleLeftBar"><i class="iconfont icon-fenlei"></i></span>
      <router-link to="/" class="title"><span>萌宠找家</span><span class="title_end">后台系统</span></router-link>
    </header>
    <aside class="left_nav" v-bind:class="{ hide: isHide}">
      <xm-menus v-bind:menus="menus"/>
    </aside>
    <article class="page_content" v-bind:class="{show_all:isHide}">
      <section class="wrapper">
        <router-view></router-view>
      </section>
    </article>
  </div>
</template>

<script>
  import Menus from './Menus.vue'
  import menuConfig from '../scripts/menus.js'
  export default {
    name: 'app',
    data () {
      return {
        isHide: false,
        menus: menuConfig
      }
    },
    components: {
      'xm-menus': Menus
    },
    methods: {
      handleLeftBar () {
        this.isHide = !this.isHide
      }
    }
  }
</script>

<style lang="scss" scoped>

  //顶部导航条
  .top_nav {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 10;
    height: 60px;
    line-height: 60px;
    padding: 0 15px;
    background: #fff;
    border-bottom: 1px solid #f1f2f7;
    .catalog,
    .title {
      cursor: pointer;
    }
    .icon-fenlei {
      font-size: 20px;
    }
    .title {
      font-size: 21px;
      color: #2e2e2e;
      margin-left: 15px;
      text-decoration: none;
    }
    .title_end {
      color: #FF6C60;
    }
  }

  //左侧导航条
  .left_nav {
     z-index: 9;
    position: fixed;
    top: 0;
    left: 0;
    width: 210px;
    height: 100%;
    background: #2a3542;
    overflow-y: scroll;
    transition: margin-left 0.5s;
    &.hide {
      margin-left: -210px;
    }
  }

  //页面内容展示区域
  .page_content {
    transition: margin-left 0.5s;
    margin-left: 210px;
    &.show_all {
      margin-left: 0;
    }
    .wrapper {
      display: inline-block;
      margin-top: 60px;
      padding: 15px;
      width: 100%;
      box-sizing: border-box;
    }
  }
</style>
