<template>
    <table>
        <thead>
            <tr>
                <th class="width_5">序号</th>
                <th class="width_15"> 发布时间</th>
                <th>发布地点</th>
                <th>状态</th>
                <th class="width_20">帖子标题</th>
                <th class="width_15">联系方式</th>
                <th class="width_20">操作</th>
            </tr>
        </thead>
        <tbody>
            <template v-for="(item,index) in list">
                <tr v-bind:key="index">
                    <td>{{(page-1)*size+(index+1)}}</td>
                    <td>{{item.CreateDateTime.substr(0,10)}}</td>
                    <td>{{item.Address}}</td>
                    <td>{{flag[item.Flag]}}</td>
                    <td>{{item.Title}}</td>
                    <td>电话：{{item.Phone}}
                        <br/>微信：{{item.WeChat}}</td>
                    <td v-on:click="operation">
                        <button class="btn bg_green" v-bind:data-id="item.ID" data-operation="-1" v-bind:data-index="index">查看</button>
                        <template v-if="item.Flag!==3">
                          <button class="btn bg_red" v-bind:data-id="item.ID" data-operation="0" v-bind:data-index="index" v-bind:disabled="item.Flag===0">删除</button>
                          <template v-if="item.Flag!==0">
                              <button class="btn bg_blue" v-bind:data-id="item.ID" data-operation="2" v-bind:data-index="index" v-bind:disabled="item.Flag===2">通过</button>
                              <button class="btn bg_yellow" v-bind:data-id="item.ID" data-operation="4" v-bind:data-index="index" v-bind:disabled="item.Flag===4">拒绝</button>
                          </template>
                        </template>
                    </td>
                </tr>
            </template>
        </tbody>
    </table>
</template>
<script>
export default {
  data () {
    return {
      flag: ['删除', '待审核', '已审核', '已成功', '已拒绝']
    }
  },
  props: ['list', 'size', 'page', 'operation']
}
</script>
<style lang="scss" scoped>
     table {
      width: 100%;
      table-layout: fixed;
      th,
      td {
        padding: 10px;
        line-height: 1.42857143;
      }
      thead {
        tr{
          font-weight: bold;
          border-bottom: 2px solid #ddd;
        }
        th{
          box-sizing: border-box;
          width: 10%;
          &.width_5{
              width: 5%;
          }
          &.width_15{
              width: 15%;
          }
          &.width_20{
            width: 20%;
          }
        }
      }
      tbody {
        tr{
          border-bottom: 1px solid #ddd;
        }
        tr:nth-of-type(odd),tr:hover{
          background-color: #f9f9f9
        }
        img {
          width: 50px;
          margin: 0 5px 5px 0;
        }
        .btn{
          padding: 3px 6px;
          margin-bottom: 5px;
          font-size: 12px;
          color: #fff;
          line-height: 1.5;
          border-radius: 3px;
          border: none;
          outline: none;
          cursor: pointer;
          &.bg_green{
            background-color: #78CD51;
          }
          &.bg_blue{
            background-color: #41cac0;
          }
          &.bg_red{
            background-color: #ff6c60;
          }
          &.bg_yellow{
            background-color: #FCB322;
          }
          &[disabled]{
            cursor: not-allowed;
            opacity: 0.65;
            background-color: #dddddd;
          }
        }
      }
    }
</style>
