<template>
    <ul class="items" v-if="info.length!==0">
        <template v-for="(item,index) in info">
            <template v-if="index%2===0">
                <li class="item" v-bind:key="index">
                    <div class="item_content fr">
                        <span class="time pl">{{item.CreateDateTime.replace('T',' ')}}</span>
                        <span class="time_icon pl" v-bind:class="bgClass[index%5]"></span>
                        <div class="msg ml">
                            <span class="arrow r_arrow"></span>
                            <h1 class="msg_title" v-bind:class="fontClass[index%5]">{{item.WeixinName}}发布了一条{{item.Type===0?'待领养':'寻找'}}消息</h1>
                            <p class="msg_content">{{item.Title}}</p>
                        </div>
                    </div>
                </li>
            </template>
            <template v-else>
                <li class="item" v-bind:key="index">
                    <div class="item_content fl">
                        <span class="time pr">{{item.CreateDateTime.replace('T',' ')}}</span>
                        <span class="time_icon pr" v-bind:class="bgClass[index%5]"></span>
                        <div class="msg mr">
                            <span class="arrow l_arrow"></span>
                            <h1 class="msg_title" v-bind:class="fontClass[index%5]">{{item.WeixinName}}发布了一条{{item.Type===0?'待领养':'寻找'}}消息</h1>
                            <p class="msg_content">{{item.Title}}</p>
                        </div>
                    </div>
                </li>
            </template>
        </template>
    </ul>
    <div class="no_info" v-else>{{loading?'加载中...':'发布信息为空！'}}</div>
</template>
<script>
export default {
  data () {
    return {
      bgClass: ['bg_red', 'bg_green', 'bg_blue', 'bg_purple', 'bg_lgreen'],
      fontClass: ['f_red', 'f_green', 'f_blue', 'f_purple', 'f_lgreen']
    }
  },
  props: ['info', 'loading']
}
</script>
<style lang="scss" scoped>
.items {
    position: relative;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        width: 2px;
        background-color: #c7cbd6;
        z-index: 0;
    }
    .item {
        overflow: hidden;
        .item_content {
            position: relative;
            width: 50%;
            &.fr {
                float: right;
            }
            &.fl {
                float: left;
            }
            .time {
                position: absolute;
                top: 12px;
                width: 150px;
                &.pl {
                    left: -176px;
                    text-align: right;
                }
                &.pr {
                    right: -176px;
                    text-align: left;
                }
            }
            .time_icon {
                position: absolute;
                top: 15px;
                box-sizing: border-box;
                width: 12px;
                height: 12px;
                border-radius: 50%;
                border: 3px solid #ffffff;
                &.pl {
                    left: -6px;
                }
                &.pr {
                    right: -6px;
                }
                &.bg_red {
                    background: #EF6F66;
                    box-shadow: 0 0 0 3px #EF6F66;
                }
                &.bg_green {
                    background: #39B6AE;
                    box-shadow: 0 0 0 3px #39B6AE;
                }
                &.bg_blue {
                    background: #56C9F5;
                    box-shadow: 0 0 0 3px #56C9F5;
                }
                &.bg_purple {
                    background: #8074C6;
                    box-shadow: 0 0 0 3px #8074C6;
                }
                &.bg_lgreen {
                    background: #A8D76F;
                    box-shadow: 0 0 0 3px #A8D76F;
                }
            }
            .msg {
                position: relative;
                padding: 15px;
                background: #f4f4f4;
                border-radius: 4px;
                &.ml {
                    margin: 0 0 5px 25px;
                }
                &.mr {
                    margin: 0 25px 5px 0;
                }
                .arrow {
                    position: absolute;
                    top: 13px;
                    width: 0;
                    height: 0;
                    border-bottom: 8px solid transparent;
                    border-top: 8px solid transparent;
                    &.r_arrow {
                        left: -7px;
                        border-right: 8px solid #f4f4f4;
                    }
                    &.l_arrow {
                        right: -7px;
                        border-left: 8px solid #f4f4f4;
                    }
                }
                .msg_title {
                    font-size: 16px;
                    font-weight: 300;
                    margin: 0 0 5px;
                    &.f_red {
                        color: #EF6F66;
                    }
                    &.f_green {
                        color: #39B6AE;
                    }
                    &.f_blue {
                        color: #56C9F5;
                    }
                    &.f_purple {
                        color: #8074C6;
                    }
                    &.f_lgreen {
                        color: #A8D76F;
                    }
                }
                .msg_content {
                    font-size: 12px;
                }
            }
        }
    }
}
.no_info{
    text-align: center;
}
</style>
