<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<style lang="scss">
  @import './style/reset';
  @import './style/iconfont';
  body {
    color: #797979;
    background: #f1f2f7;
    font-family: 'Open Sans', sans-serif, 'Avenir', Helvetica, Arial;
    padding: 0px !important;
    margin: 0px !important;
    font-size: 13px;
    line-height: 1.42857143;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
  }
</style>
